# Device name used by collector 
DEVICE_NAME=edge-1
#
# GitHub Models - required for NL queries
GITHUB_MODELS_TOKEN = Add yours here 
GITHUB_MODEL = gpt-4o-mini
GITHUB_MODELS_ENDPOINT = https://models.inference.ai.azure.com
#
# Mongo/App
MONGO_URI = mongodb://localhost:27017/
MONGO_DB = telemetry_db
MONGO_COLLECTION = telemetry_data
FLASK_HOST = 0.0.0.0
FLASK_PORT = 5000

